{% extends "admin/base.html" %}

{% block page_title %}{{ super() }} - List des équipes{% endblock page_title %}

{% block title %}Liste des équipes{% endblock title %}

{% block content %}
  <form action="/admin/teams" method="post">
    <nord-card>
      <h2 slot="header">Liste des équipes</h2>
      <nord-stack slot="header-end" direction="horizontal" gap="s">
        {% if request.args.get("edit") %}
        <nord-button name="save" size="s" variant="primary">Sauvegarder</nord-button>
        <nord-button name="cancel" size="s">Annuler</nord-button>
        {% else %}
        <nord-button name="edit" size="s">Modifier</nord-button>
        {% endif %}
      </nord-stack>
    <nord-table>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Side</th>
        <th>Channel discord id</th>
        <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
          <tr>
            {% if request.args.get("edit") %}
              <td><nord-input name="id" readonly hide-label value="{{ team.id}}" /> </td>
              <td><nord-input name="name" value="{{ team.name}}" /> </td>
              <td>
                <nord-select name="side" value="{{ team.side }}" hide-label>
                  {% for side_game in ["CounterTerrorist", "Terrorist"] %}
                    <option value="{{ side_game }}">{{ side_game }}</option>
                  {% endfor %}
                </nord-select>
              </td>
              <td><nord-input name="channel_id" hide-label value="{{ team.channel_id }}" /></td>
              <td>
                <nord-select name="is_playing" value="{{ team.is_playing }}" hide-label>
                  {% for bool in [0, 1] %}
                    <option value="{{ bool }}">{{ bool }}</option>
                  {% endfor %}
                </nord-select>
              </td>
            {% else %}
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.side}}</td>
                <td>{{ team.channel_id}}</td>
                <td>
                  {% if team.is_playing == 1 %}
                    <nord-badge variant="success">Connecté</nord-badge>
                  {% else %}
                    <nord-badge variant="danger">Nope</nord-badge>
                  {% endif %}
                </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </nord-table>
  </form>
</nord-card>

<style>
  #content nord-card {
    max-width: 1200px;
  }
</style>
{% endblock content %}

{% macro value_side(side) %}
{% if side == "CounterTerrorist" %} CT
{% elif side == "Terrorist" %} T
{% else %} CT
{% endif %}
{% endmacro %}
