<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="stylesheet" href="https://nordcdn.net/ds/css/3.1.1/nord.min.css"
    integrity="sha384-zz2Vh/uaPtnKKnKq4a8aP/R7ybJEZD3LuwnvmLE+p42C+Zjr2R0Y+PKwdABWc61A" crossorigin="anonymous" />
  <script type="module" src="https://nordcdn.net/ds/components/3.8.0/index.js"
    integrity="sha384-zvZDBl7G/h/0UeesdZH1CBfL9kfoMi+5/I28m8u8yCgzJC7kohDH3I6XgaMzYnLW"
    crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>{% block page_title %}{% endblock page_title %}</title>
</head>

<body>
  <nord-layout>

    {% block navigation %}{% endblock %}

    <nord-header slot="header">
      <h1 class="n-typescale-l">{% block title %}{% endblock title %}</h1>
    </nord-header>

    <nord-stack id="content" gap="xl" direction="horizontal" justify-content="space-evenly" wrap>
      {% block content required %}{% endblock content %}
    </nord-stack>
  </nord-layout>
</body>

</html>